<span style="font-size: x-large;">**ノック1：データを読み込んでみよう**</span>

In [1]:
import pandas as pd

In [2]:
customer_master = pd.read_csv('../../data/第1章/customer_master.csv')
customer_master.head

<bound method NDFrame.head of      customer_id customer_name    registration_date customer_name_kana  \
0       IK152942        平田 裕次郎  2019-01-01 00:25:33          ひらた ゆうじろう
1       TS808488         田村 詩織  2019-01-01 01:13:45            たむら しおり
2       AS834628         久野 由樹  2019-01-01 02:00:14             ひさの ゆき
3       AS345469          鶴岡 薫  2019-01-01 04:48:22           つるおか かおる
4       GD892565         大内 高史  2019-01-01 04:54:51           おおうち たかし
...          ...           ...                  ...                ...
4995    AS677229         平山 莉沙  2019-07-31 16:52:26            ひらやま りさ
4996    HD758694        中原 まひる  2019-07-31 19:09:26           なかはら まひる
4997    PL538517         田端 由宇  2019-07-31 19:30:05             たばた ゆう
4998    OA955088         瀬戸内 光  2019-07-31 22:32:08           せとうち ひかる
4999    HI349563         堀井 寛治  2019-07-31 22:49:49            ほりい かんじ

                            email gender  age       birth pref
0     hirata_yuujirou@example.com      M   29   1990/6/10  石川県
1       tamura_shiori@example.com      F   33   1986/5/20  東京都
2         hisano_yuki@example.com      F   63    1956/1/2  茨城県
3      tsuruoka_kaoru@example.com      M   74   1945/3/25  東京都
4      oouchi_takashi@example.com      M   54    1965/8/5  千葉県
...                           ...    ...  ...         ...  ...
4995    hirayama_risa@example.com      F   77  1941/10/17  愛知県
4996  nakahara_mahiru@example.com      F   27  1991/11/13  茨城県
4997      tabata_yuu1@example.com      F   73  1945/12/28  愛知県
4998  setouchi_hikaru@example.com      F   75    1944/4/9  宮城県
4999      horii_kanji@example.com      M   21    1998/2/6  広島県

[5000 rows x 9 columns]>

In [3]:
item_master = pd.read_csv('../../data/第1章/item_master.csv')
item_master.head

<bound method NDFrame.head of   item_id item_name  item_price
0    S001      PC-A       50000
1    S002      PC-B       85000
2    S003      PC-C      120000
3    S004      PC-D      180000
4    S005      PC-E      210000>

In [4]:
transaction_1 = pd.read_csv('../../data/第1章/transaction_1.csv')
transaction_1.head

<bound method NDFrame.head of      transaction_id   price         payment_date customer_id
0       T0000000113  210000  2019-02-01 01:36:57    PL563502
1       T0000000114   50000  2019-02-01 01:37:23    HD678019
2       T0000000115  120000  2019-02-01 02:34:19    HD298120
3       T0000000116  210000  2019-02-01 02:47:23    IK452215
4       T0000000117  170000  2019-02-01 04:33:46    PL542865
...             ...     ...                  ...         ...
4995    T0000005108  210000  2019-06-15 02:42:41    HD315748
4996    T0000005109  150000  2019-06-15 03:36:16    HI215420
4997    T0000005110   50000  2019-06-15 03:44:06    IK880102
4998    T0000005111  210000  2019-06-15 04:14:06    IK074758
4999    T0000005112   50000  2019-06-15 04:42:38    HD444151

[5000 rows x 4 columns]>

In [5]:
transaction_detail_1 = pd.read_csv('../../data/第1章/transaction_detail_1.csv')
transaction_detail_1.head

<bound method NDFrame.head of       detail_id transaction_id item_id  quantity
0             0    T0000000113    S005         1
1             1    T0000000114    S001         1
2             2    T0000000115    S003         1
3             3    T0000000116    S005         1
4             4    T0000000117    S002         2
...         ...            ...     ...       ...
4995       4995    T0000004865    S003         1
4996       4996    T0000004866    S001         3
4997       4997    T0000004867    S001         3
4998       4998    T0000004868    S005         1
4999       4999    T0000004869    S003         1

[5000 rows x 4 columns]>

In [6]:
transaction_2 = pd.read_csv('../../data/第1章/transaction_2.csv')
transaction_2.head

<bound method NDFrame.head of      transaction_id   price         payment_date customer_id
0       T0000005113  295000  2019-06-15 07:20:27    TS169261
1       T0000005114   50000  2019-06-15 07:35:47    HI599892
2       T0000005115   85000  2019-06-15 07:56:36    HI421757
3       T0000005116   50000  2019-06-15 08:40:55    OA386378
4       T0000005117  120000  2019-06-15 08:44:23    TS506913
...             ...     ...                  ...         ...
1781    T0000006894  180000  2019-07-31 21:20:44    HI400734
1782    T0000006895   85000  2019-07-31 21:52:48    AS339451
1783    T0000006896  100000  2019-07-31 23:35:25    OA027325
1784    T0000006897   85000  2019-07-31 23:39:35    TS624738
1785    T0000006898   85000  2019-07-31 23:41:38    AS834214

[1786 rows x 4 columns]>

<span style="font-size: x-large;">**ノック2：データをユニオンしてみよう**</span>

In [7]:
transaction = pd.concat([transaction_1, transaction_2], ignore_index=True)
transaction.head

<bound method NDFrame.head of      transaction_id   price         payment_date customer_id
0       T0000000113  210000  2019-02-01 01:36:57    PL563502
1       T0000000114   50000  2019-02-01 01:37:23    HD678019
2       T0000000115  120000  2019-02-01 02:34:19    HD298120
3       T0000000116  210000  2019-02-01 02:47:23    IK452215
4       T0000000117  170000  2019-02-01 04:33:46    PL542865
...             ...     ...                  ...         ...
6781    T0000006894  180000  2019-07-31 21:20:44    HI400734
6782    T0000006895   85000  2019-07-31 21:52:48    AS339451
6783    T0000006896  100000  2019-07-31 23:35:25    OA027325
6784    T0000006897   85000  2019-07-31 23:39:35    TS624738
6785    T0000006898   85000  2019-07-31 23:41:38    AS834214

[6786 rows x 4 columns]>

In [8]:
print(len(transaction_1))
print(len(transaction_2))
print(len(transaction))

5000
1786
6786

In [9]:
transaction_detail_2 = pd.read_csv('../../data/第1章/transaction_detail_2.csv')
transaction_detail_2.head

<bound method NDFrame.head of       detail_id transaction_id item_id  quantity
0          5000    T0000004870    S002         3
1          5001    T0000004871    S003         1
2          5002    T0000004872    S001         2
3          5003    T0000004873    S004         1
4          5004    T0000004874    S003         2
...         ...            ...     ...       ...
2139       7139    T0000006894    S004         1
2140       7140    T0000006895    S002         1
2141       7141    T0000006896    S001         2
2142       7142    T0000006897    S002         1
2143       7143    T0000006898    S002         1

[2144 rows x 4 columns]>

In [10]:
transaction_detail = pd.concat([transaction_detail_1, transaction_detail_2], ignore_index=True)
transaction_detail.head

<bound method NDFrame.head of       detail_id transaction_id item_id  quantity
0             0    T0000000113    S005         1
1             1    T0000000114    S001         1
2             2    T0000000115    S003         1
3             3    T0000000116    S005         1
4             4    T0000000117    S002         2
...         ...            ...     ...       ...
7139       7139    T0000006894    S004         1
7140       7140    T0000006895    S002         1
7141       7141    T0000006896    S001         2
7142       7142    T0000006897    S002         1
7143       7143    T0000006898    S002         1

[7144 rows x 4 columns]>

In [11]:
print(len(transaction_detail_1))
print(len(transaction_detail_2))
print(len(transaction_detail))

5000
2144
7144

<span style="font-size: x-large;">**ノック3：売上データ同士をジョインしてみよう**</span>

In [12]:
join_data = pd.merge(transaction_detail, transaction[["transaction_id", "payment_date", "customer_id"]], on="transaction_id", how="left")
join_data.head

<bound method NDFrame.head of       detail_id transaction_id item_id  quantity         payment_date  \
0             0    T0000000113    S005         1  2019-02-01 01:36:57
1             1    T0000000114    S001         1  2019-02-01 01:37:23
2             2    T0000000115    S003         1  2019-02-01 02:34:19
3             3    T0000000116    S005         1  2019-02-01 02:47:23
4             4    T0000000117    S002         2  2019-02-01 04:33:46
...         ...            ...     ...       ...                  ...
7139       7139    T0000006894    S004         1  2019-07-31 21:20:44
7140       7140    T0000006895    S002         1  2019-07-31 21:52:48
7141       7141    T0000006896    S001         2  2019-07-31 23:35:25
7142       7142    T0000006897    S002         1  2019-07-31 23:39:35
7143       7143    T0000006898    S002         1  2019-07-31 23:41:38

     customer_id
0       PL563502
1       HD678019
2       HD298120
3       IK452215
4       PL542865
...          ...
7139    HI400734
7140    AS339451
7141    OA027325
7142    TS624738
7143    AS834214

[7144 rows x 6 columns]>

In [13]:
join_data = pd.merge(join_data, customer_master, on="customer_id", how="left")
join_data = pd.merge(join_data, item_master, on="item_id", how="left")
join_data.head

<bound method NDFrame.head of       detail_id transaction_id item_id  quantity         payment_date  \
0             0    T0000000113    S005         1  2019-02-01 01:36:57
1             1    T0000000114    S001         1  2019-02-01 01:37:23
2             2    T0000000115    S003         1  2019-02-01 02:34:19
3             3    T0000000116    S005         1  2019-02-01 02:47:23
4             4    T0000000117    S002         2  2019-02-01 04:33:46
...         ...            ...     ...       ...                  ...
7139       7139    T0000006894    S004         1  2019-07-31 21:20:44
7140       7140    T0000006895    S002         1  2019-07-31 21:52:48
7141       7141    T0000006896    S001         2  2019-07-31 23:35:25
7142       7142    T0000006897    S002         1  2019-07-31 23:39:35
7143       7143    T0000006898    S002         1  2019-07-31 23:41:38

     customer_id customer_name    registration_date customer_name_kana  \
0       PL563502         井本 芳正  2019-01-07 14:34:35           いもと よしまさ
1       HD678019         三船 六郎  2019-01-27 18:00:11           みふね ろくろう
2       HD298120         山根 小雁  2019-01-11 08:16:02            やまね こがん
3       IK452215         池田 菜摘  2019-01-10 05:07:38            いけだ なつみ
4       PL542865         栗田 憲一  2019-01-25 06:46:05           くりた けんいち
...          ...           ...                  ...                ...
7139    HI400734          宍戸 明  2019-01-04 13:24:40            ししど あきら
7140    AS339451         相原 みき  2019-02-11 19:34:02            あいはら みき
7141    OA027325         松田 早紀  2019-04-17 09:23:50             まつだ さき
7142    TS624738         進藤 正敏  2019-02-20 18:15:56          しんどう まさとし
7143    AS834214         田原 結子  2019-04-07 03:20:19            たはら ゆうこ

                               email gender  age       birth pref item_name  \
0        imoto_yoshimasa@example.com      M   30   1989/7/15  熊本県      PC-E
1         mifune_rokurou@example.com      M   73  1945/11/29  京都府      PC-A
2           yamane_kogan@example.com      M   42   1977/5/17  茨城県      PC-C
3          ikeda_natsumi@example.com      F   47   1972/3/17  兵庫県      PC-E
4         kurita_kenichi@example.com      M   74  1944/12/17  長崎県      PC-B
...                              ...    ...  ...         ...  ...       ...
7139      shishido_akira@example.com      M   64   1955/1/13  福井県      PC-D
7140         aihara_miki@example.com      F   74    1945/2/3  北海道      PC-B
7141        matsuda_saki@example.com      F   40   1979/5/25  福島県      PC-A
7142  shinndou_masatoshi@example.com      M   56   1963/2/21  東京都      PC-B
7143        tahara_yuuko@example.com      F   74  1944/12/18  愛知県      PC-B

      item_price
0         210000
1          50000
2         120000
3         210000
4          85000
...          ...
7139      180000
7140       85000
7141       50000
7142       85000
7143       85000

[7144 rows x 16 columns]>

<span style="font-size: x-large;">**ノック4：マスターデータをしてみよう**</span>

<span style="font-size: x-large;">**ノック5：必要なデータ列を作ろう**</span>

<span style="font-size: x-large;">**ノック6：データ換算をしよう**</span>